<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Menu</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('_nav', { page: '/menus/add' }) %>

    <h1>Add Menu</h1>

    <!-- <p class="error"><%= error %></p> -->

    <form method="post">
      <p>
        <label for="name">Name</label> <br />
        <input type="text" name="name" id="name" /> <br />
        <% if (error.name) { %>
        <span class="error"><%= error.name %></span>
        <% } %>
      </p>
      <p>
        <label for="categoryId">Category</label> <br />
        <select name="categoryId" id="categoryId">
          <option value="">-- Select Category --</option>
          <% categories.forEach(({id, name}) => { %>
          <option value="<%= id %>"><%= name %></option>
          <% }) %>
        </select>
        <br />
        <% if (error.categoryId) { %>
        <span class="error"><%= error.categoryId %></span>
        <% } %>
      </p>
      <p>
        <label for="price">Price</label> <br />
        <input type="number" name="price" id="price" /> <br />
        <% if (error.price) { %>
        <span class="error"><%= error.price %></span>
        <% } %>
      </p>
      <p>
        <label for="stock">Stock</label> <br />
        <input type="number" name="stock" id="stock" /> <br />
        <% if (error.stock) { %>
        <span class="error"><%= error.stock %></span>
        <% } %>
      </p>
      <p>
        <input type="submit" value="Save" />
      </p>
    </form>
  </body>
</html>
