<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menus</title>
  </head>
  <body>
    <h1>Menus</h1>

    <form>
      <p>
        <input type="text" name="keyword" placeholder="Search..." />
        <input type="submit" value="Search" />
        <a href="/menus/add">Add Menu</a>
      </p>
    </form>

    <table border="1">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% menus.forEach((el, index) => { %>
        <tr>
          <td><%= ++index %></td>
          <td><%= el.name %></td>
          <td><%= el.category %></td>
          <td><%= el.priceInRupiah %></td>
          <td><%= el.stock %></td>
          <td>
            <a href="/menus/delete/<%= el.id %>">Delete</a> |
            <a href="/menus/edit/<%= el.id %>">Edit</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
